.game-board {
	position: relative;
	width: 300px;
	margin: 3em auto;

	&__img {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 375px) {
	.game-board {
		width: fit-content;

		&__img {
			width: auto;
			height: auto;
		}
	}
}

@media (min-width: 992px) {
	.game-board {
		width: 500px;
		height: 300px;
		margin: 5em auto 0;
		text-align: center;
	}
}
