$slide-in-top: slide-in-top 2s forwards;
$slide-in: slide-in 2s forwards;

@keyframes slide-in-top {
	from {
		transform: translateY(-30%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in {
	from {
		transform: translateY(30%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
